.col{
    background-color: rosybrown;
    font-family: Arial;
    font-size: 0.9em;
    margin: 1px;
}

.accordion-item {
    font-size: 0.7em;
}

.icon {
    max-width: 5.5%;
    height: auto;
}

.card{
    margin: auto; 
}

.list-group {
  height: 200px;
  width: 200px;
  margin: auto;
}
  
#cabecera {
  background-image: url('cabecera.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 3em; 
  padding-top: 80px;
  height: 250px;
}

#cabecera img {
    display: none;
  }

#navegador {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: rosybrown;
    padding: 10px;
    z-index: 9999; 
  }

#navegador ul{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;

}

#navegador li{
    display: inline;
    text-align: center;
}

#navegador li a:hover{
    background-color: pink;
}

#navegador li a {
    padding: 2px 7px 2px 7px;
    background-color: #eeeeee;
    border: 2px solid #ccc;
    text-decoration: none;
}

#footer {
  background-color: rosybrown;
  text-align: left;
  font-family: "Arial";
  font-size: 1.0em;
  color: black;
}
  

/* Enlaces */
.links{
    color: blue;
}
.links:hover{
    color: red;
}
.linksT{
    color: green;
}


